# Node
node_modules/
npm-debug.log
yarn-error.log

# Metro
.metro-health-check*
metro.log

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
*.keystore
!debug.keystore
release.keystore
android/app/*.keystore
*.jks

# Secrets
keystore.properties

# Misc
.DS_Store
*.log
.env

# Build outputs
*.apk
*.aab
